.section:nth-child(1) {
    padding: 15px;
     background-color: rgb(148, 150, 247);
    /* background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); */
  
  }
  .section:nth-child(1) .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .section:nth-child(1) .container .card {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    border-radius: 500px;
    padding: 2%;
  }
  .section:nth-child(1) .container .card .box {
    display: flex;
    flex-direction: column;
    border-left: 1px black;
    margin: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .section:nth-child(1) .container .card .box:nth-child(2) {
    border-left: 1px solid rgb(214, 214, 214);
  }
  .section:nth-child(1) .container .card .box:nth-child(3) {
    border-left: 1px solid rgb(214, 214, 214);
  }

  @media only screen and (max-width: 600px) {
    .section:nth-child(1) .container .card {
      max-width: 500px;
      min-width: 90vw;
    }
    .total-num {
      font-size: 14px;
      font-weight: bold;
    }
    .total-detail {
      font-size: 8px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .total-num {
      font-size: 16px;
      font-weight: bold;
    }
    .total-detail {
      font-size: 10px;
    }
    .section:nth-child(1) .container .card {
      width: 500px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .total-num {
      font-size: 16px;
      font-weight: bold;
    }
    .total-detail {
      font-size: 10px;
    }
    .section:nth-child(1) .container .card {
      width: 500px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .total-num {
      font-size: 16px;
      font-weight: bold;
    }
    .total-detail {
      font-size: 10px;
    }
    .section:nth-child(1) .container .card {
      width: 50vw;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .total-num {
      font-size: 16px;
      font-weight: bold;
    }
    .total-detail {
      font-size: 10px;
    }
    .section:nth-child(1) .container .card {
      width: 500px;
    }
  }