.section:nth-child(2) {
  padding-top: 2%;
  background-color: rgb(148, 150, 247);

}
.section:nth-child(2) .container {
  height: 85vh;
  overflow-y: scroll;
}
/* style scrollbar for Chrome, Safari and Opera */
.section:nth-child(2) .container::-webkit-scrollbar {
  width: 5px;
  background-color:transparent;
}
.section:nth-child(2) .container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
  
/* style scrollbar for IE, Edge and Firefox */
.section:nth-child(2) .container{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
